<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="songs">Songbook</button>
    <button mat-menu-item routerLink="add-song">Add new song</button>
    <button mat-menu-item routerLink="init-songbook">Init with xml</button>
  </mat-menu>
  <button mat-menu-item class="title" routerLink="">SongBook<mat-icon>home</mat-icon></button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
