<div class="song-list-container">
  <mat-selection-list hideSingleSelectionIndicator [multiple]="false">
    <mat-list-option *ngFor="let song of songs" (click)="onSongSelect(song)">
      {{song.number}}.{{ song.title }}
      <mat-divider [inset]="true"></mat-divider>
    </mat-list-option>
  </mat-selection-list>
</div>
<div class="song-content-container">
  <h2>{{ selectedSong?.title }}</h2>
  <div class="parts-container">
    <div class="part" *ngFor="let part of selectedSong?.parts">
      <h3>{{ part.name }}</h3>
      <p>{{ part.text }}</p>
    </div>
  </div>
</div>
