<mat-form-field class="form-field">
  <mat-label>Search song</mat-label>
  <input matInput type="text" [(ngModel)]="searchValue">
  <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<button (click)="onSongsUpdate()">
  update
</button>

<mat-selection-list class="custom-scroll-bar" hideSingleSelectionIndicator [multiple]="false">
  <mat-list-option *ngFor="let song of songs$ | async | searchSong :searchValue ; last as last" [routerLink]="song.id">
    <span>{{song.number}}.{{ song.title }}</span>
    <mat-divider [inset]="true"></mat-divider>
  </mat-list-option>
</mat-selection-list>