<mat-form-field class="form-field">
  <mat-label>Search song</mat-label>
  <input matInput type="text" [(ngModel)]="value">
  <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<button (click)="onSongsUpdate()">
  update
</button>

<mat-selection-list class="custom-scroll-bar" hideSingleSelectionIndicator [multiple]="false">
  <mat-list-option *ngFor="let song of songs |async | searchSong :value ; last as last" (click)="onSongSelect(song)">
    <span>{{song.number}}.{{ song.title }}</span>
    <mat-divider [inset]="true"></mat-divider>
  </mat-list-option>
</mat-selection-list>