.song-list-container {
  width: 15%;
  float: left;
}

.song-content-container {
  width: 60%;
  float: left;
  text-align: center;
  position: relative;
}

.parts-container {
  text-align: center;
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
}

.part {
  text-align: center;
  margin-bottom: 20px;
  white-space: pre-line;
}
