<form [formGroup]="songForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="form-field">
    <mat-label>Number</mat-label>
    <input matInput placeholder="ex. 23 or A14" formControlName="number">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Title</mat-label>
    <input matInput placeholder="ex. Oceany" formControlName="title">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Original title</mat-label>
    <input matInput placeholder="ex. Oceans" formControlName="originalTitle">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Author</mat-label>
    <input matInput placeholder="ex. Hillsong" formControlName="author">
  </mat-form-field>

  <div formArrayName="parts">
    <p>Song Parts:</p>
    <mat-list role="list" cdkDropList (cdkDropListDropped)="drop($event)">
      <mat-form-field role="listitem" *ngFor="let part of getPartsFormArray().controls; let partIndex=index" cdkDrag
        (cdkDragStarted)="dragStarted($event)" (cdkDragEnded)="dragEnded($event)" class="form-field">
        <div [formGroupName]="partIndex">
          <input matInput type="text" formControlName="name">
          <!-- <button (click)="copyPart(part)">Copy</button> -->
          <button (click)="removePart(partIndex)">Delete Part</button>
          <div formArrayName="slides">
            <div *ngFor="let slide of getSlidesFormArray(partIndex).controls; let slideIndex= index">
              <div [formGroupName]="slideIndex">
                <input matInput type="text" formControlName="text">
                <button (click)="removeSlide(partIndex, slideIndex)">Delete Slide</button>
              </div>
            </div>
          </div>
          <button (click)="addSlide(partIndex)">Add slide</button>
        </div>
      </mat-form-field>
      <button>(click)="addPart()">Add part</button>
    </mat-list>
  </div>

  <button type="submit">Submit</button>
  <button (click)="undo()">Undo</button>
</form>