<form [formGroup]="songForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="form-field">
    <mat-label>Number</mat-label>
    <input matInput placeholder="ex. 23 or A14" formControlName="number">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Title</mat-label>
    <input matInput placeholder="ex. Oceany" formControlName="title">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Original title</mat-label>
    <input matInput placeholder="ex. Oceans" formControlName="originalTitle">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Author</mat-label>
    <input matInput placeholder="ex. Hillsong" formControlName="author">
  </mat-form-field>

  <mat-list role="list" cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-list-item role="listitem" *ngFor="let item of listItems" cdkDrag (cdkDragStarted)="dragStarted($event)"
      (cdkDragEnded)="dragEnded($event)">
      {{ item }}
      <button (click)="copyItem(item)">Copy</button>
      <button (click)="deleteItem(item)">Delete</button>
    </mat-list-item>
  </mat-list>

  <button type="submit">Submit</button>
  <button (click)="undo()">Undo</button>
</form>